
/* div image{
    width: 400px;
} */




    /* background: red; */


/* Header */
body{
    background-color: lightslategray;
}

header{
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
header img {
    width: 75px;
    height: auto;
    display: flex;
}

nav{
    text-align: right;
}
.navigation{
    background-color: rgb(245,193,97);
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
}
.navigation li{
    flex: 1 1 100%;
}
.navigation a{
    display: block;
    color:beige;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    font-family: 'caveat', cursive;
}
.navigation a:hover{
    background-color: rgb(235,177,69);
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}
.navigation li a.active{
    background-color: rgb(165,113,16);
    }

h5{
    margin-top: 0;
    background-color: green;
    color: aliceblue;
}


/* Navigation */

main{
    background-color: steelblue;
    background-size: cover;
}

/* Hero Image */
.hero-img{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("images/river-wide"); */
    background-image: url("/wwr/images/river-wide2.jpg");
    display: block;
    width: 86%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px;
    border: 5px solid steelblue;
}


/* Sub hero */
.sub-hero img{
    width: 150px;
    border: 2px solid #ccc;
}

.sub-text {
    color: aliceblue;
    font-size:medium;
    font-family:'Dancing Script', cursive;
}

.figure img{
    width: 400px;
    display: block;
    align-items: center;

}
.bar{
    background-color:  rgb(188, 143, 143);
    width: 25px;
    list-style: none;
    padding-right: 100px;
    padding-left: 0;
}
.bar li{
    height: 50px;
    width: 25px;
    border-bottom: 1px solid rgb(188, 177, 143);
    font-family: 'Caveat', cursive;
}
.bar li a{
    padding-left: 20px;
    text-align: left;
    color: black;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    text-decoration: none;
}
.bar li a:hover{
    background-color: rgb(188, 155, 143);
    color: tomato;
    padding: 20px;
}

.bar li a.active{
    padding-right: 105px;
    background:  rgb(188, 155, 143);
    color: tomato;
    color: white;
    
}

h1{
    padding-left: 20px;
    text-align: left;
    color: coral;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Caveat', cursive;
    text-shadow: 0 0 20px burlywood;
}
p{
    background-color: rgb(165,113,16);
    color: beige;
    font-family:  'Caveat', cursive;
    font-size: x-large;
}

h2{
    text-shadow: 0 0 10px rgb(245,193,97);
    text-align: center;
    color: whitesmoke;
    background-color: seagreen;
    font-family: 'lobster', cursive;
}
h3{
    text-shadow: 0 0 10px rgb(165,113,16);
    color: brown;
    font-family: 'lobster', cursive;
    font-size: xx-large;
}
h4{
    text-shadow: 0 0 10px greenyellow;
    font-family: 'Caveat', cursive;;
}
figure{
    border: 4px  steelblue solid;
    padding: 4px;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    justify-content: space-evenly; 
}
.container img{
    width: 100%;
    border: 5px solid goldenrod;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
}
figcaption{
    background-color: 	rgb(143, 188, 143);
    color: seashell;
    font-family: 'lobster', cursive;
    text-align: center;
}
form{
    background-color: steelblue;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color:slategray;
    border: navajowhite;
    color: aliceblue;
    padding: 10px 40px;
    text-align: center;
}
h4{
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-color: antiquewhite;
}
nav img{
    width: 30px;

}
/* trip */
.hero-text{
    color: antiquewhite;
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero-text button{
    border: whitesmoke;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: antiquewhite;
    background-color: blueviolet;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover{
    background-color: blue;
    color: aquamarine;
}
h7{
    color: burlywood;
    font-size: 25px;
    text-align: center;
    font-family: 'Dancing script', cursive;
}