@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap'); 

.bar{
    background-color: rgb(245,193,97);
    max-width: 200px;
    width: 100%;
    list-style: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bar li{
    height: 100%;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(235,177,69);
}
.bar li a{
    padding-left: 20px;
    text-align: left;
    color: black;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.bar li a:hover{
    background-color: rgb(235,177,69);
}

.bar li a.active{
    background: rgb(165,113,16);
    color: white;
}
h1{
    padding-left: 20px;
    text-align: left;
    color: coral;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
p{
    background-color: steelblue;
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p a{
    color: coral;
}
h2{
    color: steelblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 400px;
}
form{
    background-color: steelblue;
    color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color:slategray;
    border: navajowhite;
    color: aliceblue;
    padding: 20px 40px;
}
